[submodule "backend"]
	path = backend
	url = git@github.com:KhalilBDJ/soundbox-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:KhalilBDJ/soundbox-frontend.git
[submodule "soundbox-python-converter"]
	path = soundbox-python-converter
	url = git@github.com:KhalilBDJ/soundbox-python-converter.git
[submodule "soundbox-frontend-vue"]
	path = soundbox-frontend-vue
	url = git@github.com:KhalilBDJ/soundbox-frontend-vue.git
